p{
    margin-bottom: 0;
}
.jumbotron {
    padding-top: 70px;
    background-color:#c4edfd ;
}

#projects {
    background-color: #c4edfd;
}

.contact {
    padding-bottom: 20px;
}

section{
    padding-top: 90px;
}



